################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Src/Optimus/.vs/Optimus
/Src/Optimus/Optimus/x64/Debug
/Src/Optimus/x64/Debug
/Src/.vs/Optimus
/Src/x64/Debug
*.user
/Output/bin_debug
/Output/middle/debug
/Output/pdb/debug
/Output/Optimus/bin_debug
/Src/packages/NXLogger.1.0.1
/Src/NxAppService/x64/Debug
/Src/NxDBManager/x64/Debug
/Src/NxEntity/x64/Debug
/Src/NxCommunication/x64/Debug
/Src/NxDBManagerUT/x64/Debug
/Src/NxSystemCfg/x64/Debug
/Output/Optimus/Log/Optimus
/Src/NxAppService/x64/Release/moc
/Src/NxAppService/x64/Release/NxAppService.tlog
/Src/NxAppService/x64/Release
/Src/NxCommunication/x64/Release
/Src/NxDBManager/x64/Release
/Src/NxDBManagerUT/x64/Release
/Src/NxEntity/x64/Release
/Src/NxSystemCfg/x64/Release
/Src/Optimus/x64/Release
/Output/Optimus/bin
/Src/packages
/Src/NxSystemCfgUT/x64/Release
/Src/Log/NxSystemCfgUT
/Output/Optimus/Log/NxDBManagerUT
/Src/NxSystemCfgUT/x64/Debug
/Src/NxWaveformWidget/x64/Debug
/Src/Log/NxWaveformWidgetUT
/Src/NxWaveformWidgetUT/x64/Debug
/.vs
/Src/NxWaveformWidget/x64/Release
/Src/NxWaveformWidgetUT/x64/Release
/Output/pdb/release
/Src/NxSpectrogram/x64/Release
/Src/NxSpectrogram/x64/Debug
/Src/NxBrainAreaWidget/x64/Debug
/Src/NxBrainAreaWidget/x64/Release
/Src/NxElectrodeMap/x64/Release
/Src/NxElectrodeMap/x64/Debug
/Output/Optimus/Output
/Output/Optimus/Log/RecorderServer
/Src/NxFaceIdentifier/x64/Release
/Src/NxFaceIdentifier/x64/Debug
/Src/Log/Optimus
/Src/NxSpikeScope/x64
/Output/Optimus/Log/NxBackupService
/Src/Log/NxBackupService
/Src/NxBackupService/x64/Debug/moc
/Src/NxBackupService/x64/Debug
/Src/Optimus.sln.DotSettings
/Output/Optimus/Log/NxBackupService
/Src/Log/NxBackupService
/Src/NxBackupService/x64/Debug/NxBackupService.tlog
/Src/NxBackupService/x64/Debug/qmake
/Src/NxBackupService/x64/Debug
/Src/NxBackupService/x64/Release
/Output/Optimus/Log/NxMotionTraining
/Output/Optimus/Log/NxMotionTraining
/Output/Optimus/Log/NxMotionTraining
/Src/NxCommonWidget/x64/Debug
