<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NXPlatform" value="https://tfs.neuroxess.com/DefaultCollection/_packaging/NXPlatform/nuget/v3/index.json" />
    <add key="NeuroXess" value="https://tfs.neuroxess.com/EEGRecorder/_packaging/NeuroXess/nuget/v3/index.json" />
  </packageSources>
    <packageSourceCredentials>
    <NeuroXess>
        <add key="Username" value="zhijie.song" />
        <add key="Password" value="Helloworld001" />
        <add key="ValidAuthenticationTypes" value="basic" />
    </NeuroXess>
  </packageSourceCredentials>
</configuration>