<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NXPlatform" value="https://tfs.neuroxess.com/DefaultCollection/_packaging/NXPlatform/nuget/v3/index.json" />
    <add key="NX" value="https://tfs.neuroxess.com/EEGRecorder/_packaging/NeuroXess/nuget/v3/index.json" />
    <add key="PrePublish" value="D:\Nuget\prePublish" />
  </packageSources>
</configuration>